.createquiz-wrapper {
    max-width: 90%;
    margin: 1.5em auto 1em auto;
    text-align: center;
}

.createquiz-h2 {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

input[type=radio] {
    margin-right: 4em;
    margin-left: 1em;
}

#createquiz-num {
    width: 5em;
    min-width: 5em;
    display: inline-block;
}

fieldset {
    margin-bottom: 2em;
}