.landing-wrapper {
    margin-bottom: 2em;
    margin-top: 0;
    margin-left: 0;

    &.transition {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    margin-top: -5.3em;
    }

    &.leavepage {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    margin-top: 200%;
    }
}

@media only screen and (min-width: 900px) and (orientation: landscape) {
  .landing-wrapper {
      &.transition {
        // margin-left: -20em;
        margin-top: 3em;
      }
  }
}

#landing-h1-one {
    animation-name: landing-h1-one;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    margin-right: 3em;
}

#landing-h1-two {
    position: relative;
    animation-name: landing-h1-two;
    animation-duration: 1.2s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    margin-left: 3em;
    margin-bottom: 0.2em;
}

@keyframes landing-h1-one {
    from { margin-top: -100%; }
    to { margin-top: 0; }
}

@keyframes landing-h1-two {
	from { margin-left: -100%; }
	to { margin-left: 3em; }
}

@media only screen and (min-width: 900px) and (orientation: landscape) {
    @keyframes landing-h1-one {
        from {
            margin-top: 0; 
            margin-left: -100%; 
        }
        to { 
            margin-top: 0;
            margin-right: 3em; 
        }
    }
}

.landing-form {
    text-align: center;
    opacity: 0;

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px white inset;
        -webkit-text-fill-color: $secondary-color;
    }

    &.transition {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    opacity: 1;
    }
}

@media only screen and (min-width: 900px) and (orientation: landscape) {
    .landing-wrapper {
        margin-top: 3em;
        display: inline-block;
        min-width: 20em;
    }

    .landing-form {
        margin-left: 100%;
        margin-top: 3em;
        min-width: 20em;
        display: inline-block;
        opacity: 1;

        &.transition {
            -webkit-transition: 0s;
            -moz-transition: 0s;
            -ms-transition: 0s;
            -o-transition: 0s;
            transition: 0s;
            margin-left: 0;
        }
    }
}