.navbar {
    font-size: 1em;
    width: 100%;
    background: $primary-color;
    color: $background-color;
    padding: 1em 1.5em;
    z-index: 2;
    box-shadow: 0 1px $shadow-color;
    fill: $primary-color;

    a {
        color: $background-color;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            color: $tertiary-color;
        }
    }

    ul {
        list-style: none;
        display: inline-block;
    }

    li {
        margin: 0 1em;
        display: inline-block;
    }

    img {
        border: 0;
        vertical-align: middle;
        height: 25px;
        width: auto;
        margin-right: 1em;
    }
}

.mute-button {
    position: absolute;
    background: $primary-color;
    color: $background-color;
    border: 0;
    right: 0;
    padding: 0.1em;
    vertical-align: middle;
    z-index: 5;

    &:hover {
        background: $primary-color;
        color: tertiary-color;
        border: 0;
    }

    &:active {
        border: 0;
        color: $background-color;
        background: $primary-color;
    }
}